<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- CONSOLE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="com.example.logbackStudy" level="debug" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.testcontainers" level="info">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="com.github.dockerjava" level="info" />
</configuration>